<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="Keywords" content="" />
		<meta name="Description" content="" />
		<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
		<link rel="stylesheet" type="text/css" href="./css/element-ui.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/retrieve.css" />
		<link rel="shortcut icon" href="images/logo.png" />
		<title>ElvenShop | กู้คืนรหัสผ่าน</title>
		<script src="js/qrcode.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="backTop">
			<header class="header" id="header">
				<header-nav></header-nav>
			</header>
			<div id="app">
				<el-backtop target=".backTop" :right="100">
					<div>
						<img src="./images/index/top-bg.png">
					</div>
				</el-backtop>
				<!-- 		<div class="Top">
			<div>
				<li class="logo">
					<img src="images/retrieve/logo.png" alt="">
				</li>
				<li class="logo-text" v-text="sfLang.retPwd"></li>
				<a href="shopping.html"><li class="shop" v-text="sfLang.shopCart"></li></a>
				<a href="login.html"><li class="denglu" id="denglu" v-text="sfLang.login"></li></a>
				<a href="register.html"><li class="zhuce" v-text="sfLang.register"></li></a>
			</div>
		</div> -->
				<section id="retrieve">
					<div class="yanzheng">
						<p class="ret-1" v-text="'1.' + sfLang.verify"></p>
						<p class="ret-2" v-text="'2.' + sfLang.setNewpwd"></p>
					</div>
					<form>
						<input class="name" onfocus="emailFocus()" onblur="emailVction()" v-model="emailMsg.data.F_UserEmail" type="text"
						 :placeholder="sfLang.emailAdd" />
						<img class="name-bg" src="images/register/email-bg.png" alt="">
						<p id="emailText"></p>
						<input onfocus="pwdFocus()" maxlength="6" onblur="pwdVction()" class="pwd" type="text" v-model="codeMsg.data.F_SendEmailCode"
						 :placeholder="sfLang.emailCode" />
						<img class="pwd-bg" src="images/retrieve/pwd-bg.png" alt="">
						<div class="send" @click="send()">
							<input type="button" v-model="sfLang.sendText" :disabled="canClick" />
							<!-- <el-button @click="send()" type="primary" :loading="btnload" :disabled="canClick">{{sfLang.sendText}}</el-button> -->
						</div>
						<span class="sub" id="sub"  @click="toPage" v-text="sfLang.nextText"></span>
					</form>
				</section>
				<div id="dibu" class="dibu"></div>
				<footer class="footer" id="footer"></footer>
			</div>
		</div>
	</body>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
	<script src="./js/element-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/headerAndFooter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/retrieve.js" type="text/javascript" charset="utf-8"></script>
</html>
